[Unit]
Description=Start a new daily Dublin evidence database

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart pm-r25-dublin-collector.service
